*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    position: sticky;
    top: 0;
}

.navbar ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;
}

.navbar ul li{
    font-family: 'Koh Santepheap';
    font-size: 1.1rem;
    font-weight: bold;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
    padding: 8px 25px;
    transition: all .5s ease;
}

.navbar ul li a:hover{
    background-color: salmon;
    color: black;
    box-shadow: 0 0 10px black;
}

#home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#home::before{
    content: "";
    position:sticky;
    top: 0;
    right: 0;
    background: url('picturenijowel.jpg') no-repeat center center/cover;
    height: 600px;
    width: 35%;
    z-index: -1;
    
}

.main{
    display: flex;
    flex-direction: column;
    /*border: 1px solid white;*/
    align-items: center;
    position: absolute;
    top: 30%;
    right: 5%;
}

.headings{
    font-family:'Lato';
    font-size: 2rem;
    text-align: center;
    margin: 40px 0px;
}

#about{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    background-color: aqua;
}

#pic{
    display: flex;
}

#pic img{
    width: 475px;
    height: 250px;
}

#intro{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 10px;
}

#intro h2{
    font-size: 2rem;
    margin-bottom: 20px;
}

#portfolio{
    display: flex;
    flex-direction: column;
    background-color: rgba(0,0,0, 0.9);
    color: white;
    align-items: center;
    padding: 20px;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
}

.gallery img{
    width: 360px;
    height: 240px;
    margin: 10px;
}

#computer{
    font-size: 15px;
    font-family: 'Koh Santepheap';
    background-color: wheat;
    display: flex;
    flex-direction: column;
    padding: 20px;
    
}

.row{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.box{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 500px;
    border: 8px solid black;
    margin: 10px;
    align-items: center;
    text-align: justify;
    padding: 10px;
    border-radius: 15px;
    background: linear-gradient(to top, firebrick 50%, white 50%);
    background-size: 100% 200%;
    transition: all .5s;
}

.box:hover{
    background-position: left bottom;
    color: white;
    border: none;
    box-shadow: 0 0 20px floralwhite;
}

.box img{
    height: 80px;
    width: 80px;
    background-color: white;
    padding: 10px;
}

#contact{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: black;
    color: white;
}

.form{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    margin: 20px 0px;
}

.input{
    padding: 12px;
    margin: 15px;
    width: 30%;
    border: none;
    outline: none;
}

#msg{
    width: 20%;
    padding: 10px;
    margin: 15px;
    border: none;
    outline: none;
}

#send{
    padding: 10px;
    margin: 40px;
    width: 10%;
    border: none;
    outline: none;
}

#send:hover{
    cursor: pointer;
    box-shadow: 0 0 5px whitesmoke;
}

footer{
    position: relative;
    width: 100%;
    height: 200px;
    background: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer p:nth-child(1){
    font-size: 20px;
    color: black;
    margin-bottom: 20px;
    font-weight: bold;
}

footer p:nth-child(2){
    color: black;
    font-size: 17px;
    width: 500px;
    text-align: center;
    line-height: 26px;
}

.social{
    display: flex;
}

.social a{
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 50%;
    margin: 22px 10px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.social a:hover{
    transform: scale(1.3);
    transition: .3s;
}














