body {
  background: #dddddd;
  margin: 0;
  font-family: 'Merriweather';
}

.navbar div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Merriweather';
  background:black;
  padding: 1em;
}

.navbar div .text-logo {
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: initial;
  color: white;
  font-size: 2em;
  letter-spacing: 0.2em;
  padding-left: 2em;
  padding-top: 0.2em;
}

.navbar div .text-logo span {
  padding-left: 70px;
  color:white;
}

.navbar div .navigation-paths {
  
  padding-left: 18em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.navbar div .navigation-paths a {
  font-weight: bold;
  font-size: 1.2em;
  padding-left: 2em;
  text-decoration: none;
  color: pink;
}

.playing-field {
  padding-left: 5em;
  padding-right: 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.playing-field .profile-pic {
  padding-left: 15em;
}

.playing-field .profile-pic .name {
  font-size: 0.9em;
}

.playing-field .profile-pic p {
  font-size: 0.6em;
}

.playing-field .profile-pic img {
  width: 15em;
  height: 15em;
  border-radius: 1em;
  margin-top: 3.5em;
}

.playing-field .about-me {
  text-align: justify;
  letter-spacing: 2px;
  margin: 1em 0em 1em 2em;
}

.playing-field .about-me p {
  font-size: 18px;
  padding-top: 3.5em;
  padding-left: 1.5em;
  padding-right: 15em;
  padding-bottom: 3.5em;
  text-align: justify;
}

.note {
  text-align: center;
}

.machine-problems {
  padding-left: 90px;
  text-align: center;
  
}

.machine-problems ul {
  font-size: 20px;
  color: black;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.machine-problems ul list {
  margin: 2.5em;
}

.machine-problems ul list h3 {
  font-size: 0.8em;
}

.machine-problems ul list h4 {
  font-size: 0.5em;
}

.maker {
  text-align: center;
}

.maker p {
  color: #f05454;
  font-size: 1em;
}

.btn{
  cursor: pointer;
  color: blue;
  font-size: 20px;
  letter-spacing: 1px;
  padding: 20px 20px;
  border: 2px brown;
  background:gold;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  margin: 7px 4px;
}

.btn:hover{
  color: aqua;
  background-color: salmon;
}

.btn a:visited{
  color: black;
  background-color: blue;
  
}

.btn a:hover{
  color:black;
}

.btn a:link{
  text-decoration: none;
}
